body {font-family: Arial, Helvetica, sans-serif;}

form{width: 600px;}

input[type=text], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=password]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
/*
.btn a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.btn a:hover, a:active {
    background-color: red;
}
*/

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    width: 600px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
a{
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=file]
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.container
{
    position: absolute;
    top: 70px;
    left: 360px;
}

.text-canter
{
    text-align: center;
}


/************************************/

.view
{
    width: 80%;
    height: 285px;
    position: absolute;
    left: 140px;
    top: 70px;
    border: 1px solid #4CAF50;

}